$brand-1: #23362B;
$brand-2: #1BB28C;
$brand-3: #D4984C;
$brand-4: #913931;
$brand-5: #9BC7C5;
$brand-6: #EFEEEA;

.brand-1 { color: $brand-1; }
.brand-2 { color: $brand-2; }
.brand-3 { color: $brand-3; }
.brand-4 { color: $brand-4; }
.brand-5 { color: $brand-5; }
.brand-6 { color: $brand-6; }

.brand-bg-1 { background-color: $brand-1; }
.brand-bg-2 { background-color: $brand-2; }
.brand-bg-3 { background-color: $brand-3; }
.brand-bg-4 { background-color: $brand-4; }
.brand-bg-5 { background-color: $brand-5; }
.brand-bg-6 { background-color: $brand-6; }

$font-family-sans-serif: 'Halant', sans-serif;
$headings-font-family: 'Pacifico', cursive;
$headings-color: $brand-3;
$container-max-widths: ( md: 640px );
$mark-bg: rgba($brand-3, 0.33);
$link-color: $brand-3;
$font-size-base: 1.25rem;
$spacers: (6: (1rem * 4.5), 7: (1rem * 6), 8: (1rem * 9), 9: (1rem * 10), 10: (1rem * 11) );

@import "node_modules/bootstrap/scss/bootstrap";

.sterling-strong-life {
    h3.figure-caption {
        font-family: $font-family-sans-serif;
        font-size: 1.25rem !important;
        @include media-breakpoint-up(md) {
            font-size: 1.75rem !important;
        }
    }
    figcaption.figure-caption {
        font-family: $font-family-sans-serif;
        font-size: 1.75rem !important;
        @include media-breakpoint-up(md) {
            font-size: 2rem !important;
        }
    }
}

@import "./timeline";
@import "./balloons";

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
    @each $size, $length in $spacers {
      @if $size != 0 {
        .m#{$infix}-n#{$size} { margin: -$length !important; }
        .mt#{$infix}-n#{$size},
        .my#{$infix}-n#{$size} {
          margin-top: -$length !important;
        }
        .mr#{$infix}-n#{$size},
        .mx#{$infix}-n#{$size} {
          margin-right: -$length !important;
        }
        .mb#{$infix}-n#{$size},
        .my#{$infix}-n#{$size} {
          margin-bottom: -$length !important;
        }
        .ml#{$infix}-n#{$size},
        .mx#{$infix}-n#{$size} {
          margin-left: -$length !important;
        }
      }
    }
  }
}

body {
    padding: 5rem 0 0;
    background-color: #f7f3f0;
}

.sterly-girly {
    position: relative;
    background-color: #f7f3f0;
    z-index: 10;
}

.page-nav {
    @include media-breakpoint-down(md) {
        font-size: 1rem;
    }
}

.nuxt-link-active {
    font-weight: bold;
}

.custom-divider {
    &:last-child {
        padding-bottom: 6rem !important;
        margin-bottom: 0 !important;
    }
}

h1 {
    @extend .display-2;
    @include media-breakpoint-up(md) {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
}

.list-inline-item {
  &:not(:last-child) {
    margin-right: $list-inline-padding * 2;
  }
}

.mission-ampersand {
    color: $brand-4;
    vertical-align: middle;
    font-size: 175%;
    line-height: 0;
    font-weight: bold;
}

#qrcode {
    a {
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
}


ul {
    @extend .list-unstyled;
    padding-left: 1.75rem !important;
    &.fancy-list {
        li {
            &:before {
                content: "❦";
                color: $brand-3;
                position: absolute;
                top: 0;
                left: -1.5rem;
            }
        }
    }
    li {
        position: relative;
    }
}


.lead {
    strong, .font-weight-bold {
        color: $brand-4;
    }
}

.e-mail:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
}

.non-profit {
    letter-spacing: -2px;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}

.mark-opacity-75{
    background-color: rgba($brand-3, 0.90) !important;
}



.footer {
    background-color:#f0f7f6;
    position: sticky;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    place-items: center;
    // padding: 6rem 0 0;

    h1,h2,h3,h4,h5,h6, li, p {
        color: #999;
    }

    a {
        color: #999;
        font-weight: bold;
    }

    &__content {
        margin-bottom: 6rem;
    }

    &__socket {
        font-size: 1rem;
        padding: 1.5rem 0;
        background-color: darken(#f0f7f6, 2.5%);
        p {
            color: #000 !important;
        }
    }
}
